services:
  songripper:
    build:
      context: .
    image: ghcr.io/rudyscoggins/songripper:latest
    restart: unless-stopped
    environment:
      DATA_DIR: /data
      NAS_PATH: /music
    volumes:
      - ./data:/data
      - /home/pi/NAS/music/Elysium:/music
    ports:
      - "5423:8000"
